html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
}

#jobtitle {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    font-weight: lighter;
    font-size: 9em;
    font-family: 'Oxanium', cursive;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 0, 0, 0.352);

}

body {
    font-family: 'VT323', monospace;
    background-color: rgba(31, 31, 31, 1);
}

h1 {
    color: rgb(60, 169, 242);
}

.char {
    color: rgb(115, 128, 128);
}

.subtitle {
    display: flex;
    justify-content: space-evenly;
    font-size: 170%;
    color: rgb(172, 76, 31);
}

#about {
    display: inline;
    position: relative;
    top: 0.2rem;
    left: -12%;
    color: rgb(172, 76, 31);
}

.brace {
    color: rgb(255, 215, 16);
    position: relative;
    display: inline;
    left: -11%;
}

.brace1 {
    color: rgb(255, 215, 16);
    position: relative;
    display: inline;
    top: -3rem;
    left: -15.5%;
}

.brace2,.brace3 {
    display: inline;
    color: rgb(255, 215, 16);
}
.flavortext {
    width: 50%;
    height: 50%;
    text-align: justify;
    margin: 1% 37.3% 5%;
    font-weight: 200;
    color: rgb(124, 220, 254);

}

.education {
    width: 70%;
    text-align: justify;
    margin: 20% auto;
color: rgb(172, 76, 31);
}

.edutitle {
    color: rgb(60, 169, 242);
}
ul {
    color: rgb(172, 76, 31);
}

.let,
.cvtext,
.equals {
    display: inline;
}

.let {
    color: rgb(86, 156, 214);
}

.cvtext {
    color: rgb(60, 169, 242);
}

.equals {
    color: rgb(206, 206, 206);
}

.info {
    width: 60%;
    margin-left: 20%;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    flex: 0 0 0;
}


.ico {
    flex: 0 0 0;

}

.fa:hover {
    margin-top: -30%;
    color: rgb(60, 169, 242);
}

.fa {
    font-size: 48px;
    transition: 0.2s;
}

.section {
    font-family: 'Inconsolata', serif;
    text-align: center;
    width: 80%;
    height: 80%;
    font-size: 17px;

}

.section1 {
    text-align: center;
    width: 80%;
    margin-left: 9.5%;
    margin-top: 2%;
    font-size: 30px;
}

#cvcontainer {
    display: flex;
    justify-content: space-evenly;
}


.listitem {
    margin: 0.3%;
}


.cert {
    margin-bottom: 20%;
    color: rgb(60, 169, 242);
}

.skills {
    margin-bottom: 5%;
}